.home {
    background-image: linear-gradient(to bottom, #100F13, #2f2a3e);
}

h1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Righteous', cursive;
    text-align: center;
}

h1>a {
    text-decoration: none;
}

h1 :hover {
    color: aqua;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid aqua;
    font-size: 70px;
    text-align: center;

    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 340px) {
    h1 :hover {
        font-size: 40px;
    }
}